

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/
	.custom_nav ul li a {
	    padding: 5px 0px !important;
	    text-align: right;
	}

	/*slider start*/
	.slider {
	    padding: 0 0 70px;
	}

	.slider_text {
	    margin-top: 0;
	}

	.slider_text h1 {
		font-size: 28px;
	    margin-bottom: 20px;
	}

	.slider_text h3 {
	    font-size: 18px;	
	    margin-bottom: 20px;
	}

	.slider_text p {
	    font-size: 16px;
	    margin-bottom: 20px;
	}

	.slider_icons {
	    margin-bottom: 25px;
	    text-align: center;
	}

	.slider_img {
	    text-align: center;
	}

	/*feature start*/
	.feature {
	    padding: 35px 0;
	}

	.feature_title {
	    margin-bottom: 50px;
	}

	.feature_title p {
	    font-size: 16px;
	}

	.single_icon {
	    text-align: center;
	}

	.single_icon i {
	    font-size: 45px;
	    margin-bottom: 15px;
	}

	.single_content {
		text-align: center;
	}

	.single_content h3 {
	    font-size: 19px;
	}

	/*contact start*/
	.contact {
	    padding: 30px 0;
	}

	.btn_custom {
	    font-size: 18px;
	    padding: 12px 12px;
	}
	/*footer start*/
	footer {
		padding: 15px 0 20px;
	}

	.fsize p {
	    font-size: 10px;
	    margin-bottom: 2px;
	}

	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header start*/
	.custom_nav ul li a {
	    padding: 5px 0px !important;
	    text-align: right;
	}

	/*slider start*/
	.slider_text {
	     margin-top: 0; 
	}

	.slider_text h1 {
	    font-size: 24px;
	    margin-bottom: 15px;
	}

	.slider_text h3 {
	    font-size: 15px;	    
	    margin-bottom: 15px;
	}

	.slider_text p {
	    font-size: 14px;
	    margin-bottom: 15px;
	}

	/*feature start*/
	.feature {
	    padding: 50px 0 20px !important;
	}

	.feature_title {
	    margin-bottom: 40px !important;
	}

	.feature_title p {
	    font-size: 16px;
	}

	.single_icon i {
	    font-size: 40px !important;	
	}

	.single_content h3 {
	    font-size: 19px;
	}

	.single_content p {
	    font-size: 15px;
	}

	/*contact start*/
	.contact {
	    background-color: #010101;
	    padding: 50px 0 30px !important;
	}
	.contact_title {
	    margin-bottom: 40px;
	}

	.social_icons {
	    margin-top: 40px;
	}



	.custom_input {
	    padding: 18px 10px;
	}

	.btn_custom {
	    padding: 6px 15px;
	    margin-left: 10px;
	}

	/*footer start*/
	footer {
	    padding: 0 0 45px !important;
	}

	.fsize p {
	    font-size: 14px;
	}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.custom_nav ul li a {
	    padding: 5px 0px !important;
	    text-align: right;
	}

	/*slider start*/
	.slider_text {
	    margin-top: 0;
	}
	
	.slider_text p {
	    font-size: 16px !important;
	}

	/*feature start*/
	.feature {
	    padding: 60px 0 30px;
	}

	.feature_title p {
	    font-size: 16px;
	}

	.feature_title {
	    margin-bottom: 50px;
	}

	.single_icon i {
	    font-size: 40px !important;
	}

	.single_content h3 {
	    font-size: 17px;
	}

	/*contact start*/
	.contact {
	    padding: 60px 0 0px;
	}

	.custom_input {
	    padding: 20px 10px;
	}

	.btn_custom {
	    font-size: 16px;
	    font-weight: bold;
	    padding: 6px 10px;
	    margin-left: 15px;	    
	}

	.social_icons {
	    margin-top: 50px;
	}
	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*header start*/
	.custom_nav ul li a {
	    padding: 0 34px !important;
	}
	/*slider start*/
	.slider_text p {
	    font-size: 15px;
	}


}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .slider_text p {
        font-size: 17px !important;
    }
}


